@model System.Collections.Generic.IEnumerable<Tracker.Models.FootPrint>

@{
    ViewBag.Title = "View Trace";
    Layout = "_Layout";
}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>#</td>
        <td>IP</td>
        <td>Path</td>
        <td>Data</td>
        <td>Method</td>
        <td>Date</td>
        <td>User</td>
    </tr>
    </thead>
    <tbody>
    @{
        var sn = 1;
        foreach (var trace in Model)
        {
            <tr>
                <td>@(sn++)</td>
                <td>@trace.Ip</td>
                <td>@trace.Path</td>
                <td>@trace.Data</td>
                <td>@trace.Method</td>
                <td>@trace.RecDate</td>
                <td>@trace.User</td>
            </tr>
        }
    }
    </tbody>
</table>